FRONTEND_GOOGLE_CALLBACK_URL=''
FRONTEND_ORIGIN=''
GOOGLE_CALLBACK_URL=''
GOOGLE_ID=''
GOOGLE_SECRET=''
JWT_SECRET=''
JWT_EXPIRES_IN=''
JWT_REFRESH_SECRET=''
JWT_REFRESH_EXPIRES_IN=''
MONGO_URI=''
NODE_ENV=''
PORT=''